<h1>New Course</h1>

<%if @form_type==='awe'%>
	<%= render 'form_awe', course: @course, lecturer: @lecturer, subject: @subject %>
<%else%>
	<%= render 'form_awe', course: @course %>
<%end%>


<%= link_to 'Back', courses_path %>
