<header class="navbar px-0">
  <div class="col-sm-4">
    <div class="row" >IMI</div>
    <div class="row" >CourseR</div>
  </div>
  <div class="col-sm-4 input-group stylish-input-group">
      <input type="text" class="form-control"  placeholder="Search" >
      <span class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-sm-4">
    <button class="login btn btn-success actions">Login</button>
  </div>
</header>